/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: white;
  
}

header img {
    max-width: 100px;
}

nav {
    padding: 5px;
    text-align: center;
    color: black;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

.poster {
   
    width: 1000px;
   
}
footer {
    background-color: #000000; 
    padding: 10px;
    bottom: 0;
    width: cover;
    color: white;
}
